
snippet cbr "Codeblock" b
\`\`\`\{r\}
$2
\`\`\`
$0
endsnippet

snippet custom-note "Note" b
::: {custom-style="Note"}
$2
:::

$0
endsnippet


snippet custom-abstract "Abstract" b
::: {custom-style="Abstract"}
$2
:::

$0
endsnippet
